.card {
    border-radius: 5px!important;
    padding: 0;
    overflow: hidden;
    transition: all 0.25s;
    position: relative;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
}

.card * {
    text-decoration: none;
}

.card:hover {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);    transition: all 0.25s;
}

@media(min-width:1400px){
    .card {
        width: 23%;
        margin: 1%;
    }
}

@media(max-width: 1399px) {
    .card {
        width: 30.66%;
        margin: 1.33%;
    }
}

@media(max-width: 1199px) {
    .card {
        width: 46%;
        margin: 2%;
    }
}

@media(max-width: 800px) {
    .card {
        width: 92%;
        margin: 4%;
    }
}

.cardLink {
    flex-grow: 1;
}

.media {
    border-radius: 5px 5px 0 0;
    width: 100%;
    object-position: center;
    object-fit: cover;
    max-height: 200px;
}

.title {
    padding: 25px!important;
    font-size: 18px!important;
}

.articleDescription p{
    font-size: 16px!important;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.cardActions {
    justify-content: space-between;
    width:100%;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.actionButtons {
    display: flex;
}

.actionButton {
}

.actionIcon {
    color: gray;
}

.shareButtons {
    display: flex;
    flex-direction: row;
    transition: all 0.25s;
    opacity: 1;
    margin-right: 15px!important;
}

.shareButtons button {
    width: 38px!important;
    height: 38px!important;
    color: white;
    margin: 3px;
}

.hideShare {
    opacity: 0;
    transition: all 0.25s;
    pointer-events: none;
}

.shareFacebook {
    background: #3B5998!important;
}

.shareFacebook:hover {
    background: #476bb8!important;
}

.shareTwitter {
    background: #1DA1F2!important;
}

.shareTwitter:hover {
    background: #3eaef4!important;
}

.shareLinkedin {
    background: #0077B5!important;
}

.shareLinkedin:hover {
    background: #0095e6!important;
}

.shareSlack {
    background: #e8a723!important;
}

.shareSlack:hover {
    background: #ecb546!important;
}