.sidebar {
    position: fixed;
    width: 64px;
    height: 100%;
    box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.1) !important;
    background: #fff;
    z-index: 1000;
    transition: all 0.25s;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    left: 0;
}

.sidebar:hover {
    width: 265px;
    transition: all 0.25s;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 10px 0px rgba(0, 0, 0, 0.12)!important;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sourcesLoading {
    left: -64px;
}